<?xml version="1.0"?>
<launch>
      <arg name="config_file"       default="cam_config.json" />   


      <node pkg="viewpoint_interface" type="viewpoint_interface" name="viewpoint_interface" 
         output="screen" cwd="node">
            <param name="cam_config_data" textfile="$(find viewpoint_interface)/resources/config/$(arg config_file)" />
      </node>
</launch>